# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage output
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/